body {
    background-color: #fafafa;
    margin: 0;
}

main {
    padding: 1.5em;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

div#form-container {
    position: relative;
    margin-bottom: 3.5em;
}

div#form-container div#form-error {
    color: #b33030;
}

div#form-container form {
    background-color: white;
    border: 1px solid #dadada;
}

div#form-container form input#title {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: 700;
}

div#form-container form textarea#content {
    display: block;
    width: -webkit-fill-available;
    min-height: 5em;
    border: none;
    resize: none;
    background: transparent;
    outline: none;
    padding: 0em 1em 1em;
}

div#form-container form button#add-note {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 1em 0;
}

button {
    border: 1px solid rgb(95, 95, 95);
    background: white;
    transition: .5s;
    cursor: pointer;
    padding: 0.5em;
    color: rgba(75, 75, 75, 0.8);
}

button:hover {
    color: rgb(75, 75, 75);
}

div#notes-wrapper {    
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1.5em;
}

div#notes-wrapper:empty {
    padding: 0;
}

#notes-wrapper .note {
    border: 1px solid #d3d3d3;
    position: relative;
    overflow: hidden;
    background: white;
    padding: 1em;
}

.note-title {
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f5f5f;
}

.note-title:empty {
    padding-bottom: 0;
}

.note-text {   
    color: #5a5a5a;
    padding-bottom: 1em;
    overflow-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

.note-date {
    font-size: .7em;
    border-top: 1px solid #dadada;
    padding: 0.25em 0;    
    position: absolute;
    width: -moz-calc(100% - 3em);
    width: -webkit-calc(100% - 3em);
    width: calc(100% - 3em);
    bottom: 0;
}


button#delete-all {
    margin: 1.5em 0;
}

@media (max-width: 750px) {
}